input {
  padding: 0.625rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 23.625rem;
}

#fileUpload {
  padding: 0.625rem;
  width: auto;
  margin: 2.5rem auto 4rem;
  border: none;
  background-color: #d9eaea;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  font-size: 1.5625rem;
  color: #f80abd;
  width: calc(90% - 2.125rem);
  margin-left: auto;
  margin-right: auto;
  height: 9.375rem;
  text-align-last: center;
}

button {
  display: block;
  margin: 0 auto;
  border-radius: 0.3125rem;
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;
  background-color: #346599;
  color: #fff;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin-top: auto;
}

button:hover {
  background-color: #317ed0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.125rem);
}

.mapping-container {
  max-width: 37.5rem;
  margin: 0 auto;
  text-align: center;
}

.mapping-title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.mapping-input-container {
  display: flex;
  align-items: center;
  max-width: 25rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3.125rem;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
  width: fit-content;
}

.mapping-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.125rem;
  padding: 0.625rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

.spinner {
  position: absolute;
  top: 26.4rem;
  left: 55.0rem; 
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid #f3f3f3;
  border-top: 0.25rem solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}